@import "~bootstrap/scss/bootstrap.scss";
// https://images.unsplash.com/photo-1514809606235-a56fe6d553b4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80
// https://images.unsplash.com/photo-1515787366009-7cbdd2dc587b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80
// https://images.unsplash.com/photo-1510070112810-d4e9a46d9e91?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


* {
	margin:0;
	padding:0;
    box-sizing:border-box;
    font-family: 'Sriracha', cursive;
}
body{
    background-image: url(https://images.unsplash.com/photo-1510070009289-b5bc34383727?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}
html, body {  
	font-size:1.1rem;
	font-family:'Quicksand', sans-serif;
	height:100%;
}

.todolist {
	margin:4rem auto;
	padding:2rem 3rem 3rem;
	max-width:500px;
	background:#054776;
	color:#FFF;
    // box-shadow:-20px -20px 0px 0px rgba(100,100,100,.1);
    box-shadow: 5px 5px #043B62, 10px 10px #032F4E, 15px 15px #02233B;
}

.todolist ul {
	margin-top:2.6rem;
	list-style:none;
}

.todolist li {
	display:flex;
	margin:0 -3rem 4px;
	padding:1.1rem 3rem;
	justify-content:space-between;
	align-items:center;
	background:rgba(255,255,255,0.1);
}

.Card.Body>input[type="text"]
{
    background: #ffffff24;
    height: 2rem;
    width: 100%;
    color: #fff;
    border: none;
    padding-left: 0.4rem;
}
input:focus{
    outline: none;
}
.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
form.form.shadow-none{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.modal-content{
    height: 30rem;
    width: 30rem;
}